import java.util.*;
import java.util.Random;

class GuessingGame {
	public static void main(String[] args) {
	    Scanner scanner=new Scanner(System.in);
	    Random rand=new Random();
	    boolean playAgain = true;
	    int totalScore = 0;
	    int roundsPlayed = 0;
	    int maxAttempts=10;
	    
	    System.out.println("Welcome to the Guessing Game.");
	    System.out.println("The Range of numbers is from 1 to 100 , you should guess the number in the given number of attempts.");
	    System.out.println("You have " + maxAttempts + " attempts to guess the number.");
	    
	    while (playAgain) {
	        int numToGuess=rand.nextInt(100)+1;
	        int numOfTries = 0;
	        int guess;
	        boolean win = false;
	        
	        
	        while (!win && numOfTries < maxAttempts) {
	            System.out.print("Enter your Number: ");
	            guess = scanner.nextInt();
	            numOfTries++;
	            
	            if (guess > numToGuess) {
	                System.out.println("The number is too high!please try again.");
	            }
	            
	            else if (guess<numToGuess) {
	                System.out.println("The Number is too low! pleease try again.");
	            }
	            
	            else {
	                win = true;
	                System.out.println("Congratulations! You've guessed the number in " + numOfTries + " tries.");
	                totalScore += (maxAttempts - numOfTries + 1);
	            }
	        }
	        
	        if (!win) {
	            System.out.println("Sorry, you've used all your attempts. The number was " + numToGuess + ".");
	        }
	        
	        roundsPlayed++;
	        System.out.println("Your current score is: " + totalScore);
	        System.out.print("Do you want to play another round? (yes/no): ");
	        playAgain = scanner.next().equalsIgnoreCase("yes");
	    }
	    System.out.println("Thank you for playing! You played " + roundsPlayed + " rounds with a total score of " + totalScore + ".");
	    scanner.close();
	}
}
